/* General */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
}

input {
    width: 200px;
    height: 5vh;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left: 1vw;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: translateX(1px);
}

#welcome {
    padding: 1vh;
}

.brand {
    display: inline;
    height: 20vh;
}

.logo {
    font-size: 12vh;
}

.name {
    font-weight: 600;
    font-size: 8vh;
}

.graph {
    position: relative;
    width: 20vh;
    height: 20vh;
}

.heading {
    padding: 1.5vh 0 0.5vh 2vh;
    font-size: 1.5em;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* Navigation menu on left side */

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    border: 1px solid blue;
    padding: 1vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav-elem {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

.nav-elem:hover {
    background: lightgrey;
}

.active {
    background: grey;
}

.active:hover {
    background: grey;
}

/* Main content window */

#mainview {
    position: absolute;
    left: 30vw;
    width: 70vw;
    height: 100vh;
    background-color: lightblue;
    padding: 1vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#current-project,
.all-projects {
    border: 1px solid blue;
    height: 20vh;
}

#current-project-title {
    padding-top: 1.2vh;
    padding-left: 2vh;
    font-size: 2em;
    margin: 1vh 0;
}
/* Project view */

/* #project-list,
#track-list,
project-stats {
} */

.single-project,
.single-track {
    position: relative;
    border: 1px solid blue;
    margin: 1vh 0;
    padding: 2vh;
}

.pointer {
    cursor: pointer;
}

.add {
    position: absolute;
    /* border: 1px solid blue; */
    top: -0.1vh;
    padding-left: 0.5vh;
    font-size: 25px;
}

#uploader {
    /* border: 1px solid blue; */
    margin: 10px 0;
}
