/* General */

* {
    box-sizing: border-box;
    margin: 0;
    /* font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-family: Helvetica;
    font-weight: 100;
}

.error {
    color: red;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.red {
    color: red;
}

.margin-bottom {
    margin-bottom: 1vh;
}

input {
    width: 200px;
    height: 5vh;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    padding-left: 10px;
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    /* border: 1px solid blue; */
}

.button-ind {
    display: inline-block;
    /* width: 110px; */
    /* border: 1px solid blue; */
    margin-left: 1vw;
}

button {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: translateX(2px);
    color: black;
}

button:focus {
    outline: 0;
    color: black;
}

.activePeriod {
    font-weight: bold;
}
#welcome {
    padding: 1vh;
}

#login-page {
    /* border: 1px solid blue; */
    padding: 30px;
    padding-bottom: 10px;
    width: 260px;
    background-color: #f4f5f6;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}
/* .row {
    flex-direction: row;
} */

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.welcome-form {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #f4f5f6;
    color: black;
    border: 1px solid black;
}

.welcome-button {
    padding-left: 0;
    margin-left: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.links-container {
    /* border: 1px solid blue; */
    height: 50px;
    width: 260px;
    margin-top: 1vh;
}

.link {
    display: flex;
    /* border: 1px solid blue; */
    width: 130px;
    justify-content: center;
    align-items: center;
}

.link:hover {
}

.activeLink {
    background: #f4f5f6;
}

.log {
}

.reg {
}

.link a {
    text-decoration: none;
    color: black;
}

.brand {
    display: inline;
    height: 20vh;
}

.logo {
    font-size: 12vh;
}

.name {
    font-weight: 600;
    font-size: 75px;
}

/* #graph-component {
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
} */

.graph {
    position: relative;
    width: 20vh;
    height: 20vh;
}

.heading {
    padding: 1.5vh 0 0.5vh 2vh;
    font-size: 1.5em;
}

.italic {
    font-style: italic;
    font-size: 15px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* Navigation menu on left side */

#navbar {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    /* border: 1px solid blue; */
    padding: 1vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav-elem {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

.nav-elem:hover {
    background: #f4f5f6;
}

.single-project-name:hover,
.single-archived-project:hover,
.archive-button:hover,
.add-project:hover {
    background-color: #f4f5f6;
}

.archive-button:hover {
    font-weight: 100;
    color: black;
}

.active,
.activeButton {
    background: #b3b3b5;
}

.active:hover,
.activeButton:hover {
    background: #b3b3b5;
}

/* Main content window */

#mainview {
    position: absolute;
    left: 30vw;
    width: 70vw;
    height: 100vh;
    background-color: white;
    padding: 1vh;
}

#current-project,
.all-projects {
    /* border: 1px solid blue; */
    position: relative;
    background-color: #f4f5f6;
    height: 20vh;
}

.current-project-title,
.all-projects-title {
    padding-top: 1.2vh;
    padding-left: 2vh;
    font-size: 2em;
    margin: 1vh 0;
}

.period {
    display: inline-block;
}
/* Project view */

#project-list {
    max-height: 50vh;
    overflow: scroll;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#track-list {
    margin-top: 2vh;
    border-top: 1px solid black;
}

.single-project,
.single-track,
.add-project,
.single-archived-project {
    position: relative;

    /* border: 1px solid blue; */
    margin: 1vh 0;
    padding: 2vh;
}

.single-project,
.single-archived-project {
    display: grid;
    grid-template-columns: 12fr 1fr;
    /* border: 1px solid blue; */
    padding: 0;
}

.single-project-name,
.single-archived-project-name {
    padding: 2vh;
    /* border: 1px solid blue; */
}

.archive-button {
    /* border: 1px solid blue; */
    padding: 2vh;
    color: grey;
}

.click {
}

.pointer {
    cursor: pointer;
}

.add {
    position: absolute;
    /* border: 1px solid blue; */
    top: -0.1vh;
    padding-left: 0.5vh;
    font-size: 25px;
}

#uploader {
    /* border: 1px solid blue; */
    margin: 10px 0;
}
